[Unit]
Description=DevOps training platform
Documentation=https://github.com/codecentric/DevOpsTraining
After=docker.service
Wants=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/opt/service-discovery/environment
WorkingDirectory=/opt/platform
ExecStop=/usr/local/bin/docker-compose down
ExecStartPre=-/usr/bin/docker pull hylke1982/openjdk-download-and-run
ExecStart=/usr/local/bin/docker-compose up
ExecReload=/usr/local/bin/docker-compose restart
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=DevOpsPlatform
User=root
Group=root

[Install]
WantedBy=multi-user.target