[Unit]
Description=Service Discovery DevOps  platform
Documentation=https://github.com/codecentric/DevOpsTraining
After=docker.service
Wants=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/opt/service-discovery
ExecStop=/usr/local/bin/docker-compose halt
ExecStart=/usr/local/bin/docker-compose up
ExecStartPost=/opt/service-discovery/write-env-file.sh
ExecReload=/usr/local/bin/docker-compose restart
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ServiceDiscovery
User=root
Group=root

[Install]
WantedBy=multi-user.target